@CHARSET "UTF-8";

body {
	padding-top: 70px;
}
          
.column-white {
	background: #FFFFFF;
    border: 1px solid transparent;
}
          
.word-cloud {
    display: inline-block;
    margin: 10px;
}

.badge-positive {
  background-color: #009900;
}

.badge-negative {
  background-color: #FF0000;
}

.badge-neutral {
  background-color: #FFBF00;	
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}